.formWrapper {
	width: 30%;
	margin: 50px auto;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
}

.hintFeatures {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

@media screen and (max-width: 1000px) {
	.formWrapper {
		width: 50%
	}
}

@media screen and (max-width: 500px) {
	.formWrapper {
		width: 80%
	}
}

.form>label {
	text-align: left;
}

.form>input {
	padding: 10px
}